<!--#SOMETHINGHERELATER-->

<!DOCTYPE html>
<html>
<head>
    <title>PokeSee PokeDo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="hhttps://raw.githubusercontent.com/designsbytraina/pokeseepokedo_0.5/master/assets_icons/pokeball.png" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color:#ff1a1a">

<div> <!--SOMETHING-->

<h1><a href="/">PokeSee PokeDo</a></h1>

{% if "user_id" in session %}
    <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a>
{% endif %}

</div>

<div>

<!-- FLASH MESSAGES -->
{% with messages = get_flashed_messages() %}
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
{% endwith %}

<!-- BODY -->
{% block content %}
    REAL CONTENT STARTS HERE.
{% endblock %}

</div>

</body>
</html>