<!--#SOMETHINGHERELATER-->

<!DOCTYPE html>
<html>
<head>
    <title>PokeSee PokeDo</title>
</head>
<body>

<div id='navigation'> <!--SOMETHING-->

PokeSee PokeDoo

{% if "user_id" in session %}
    <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a>
{% endif %}

</div>

<div class='flash-msg'> <!--TODO VERIFY THIS!-->

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

</div>

<div class='container'>

{% block content %}
    REAL CONTENT STARTS HERE.
{% endblock %}

</div>

</body>
</html>