<!-- index.html -->

{% extends 'base.html' %}

{% block content %}

<style type="text/css"> body {background-color:#ff3939;} </style>

<div class="row">
<!-- google maps -->
<div id="map" style="height:800px" class="col-md-9 col-xs-12"></div>

<div class="col-md-3 col-xs-12">

<form id="dest-details" action="/poke-map.json" method="GET" class="form-inline">
  <div class="form-group">
    <label class="index-label" for="user-activity">Start Point:
      <select id="start-point" class="form-control" name="user-activity">
          <option value="samovar tea lounge sf">samovar tea lounge sf</option>
      </select>
    </label>
  </div><br>
  <div class="form-group">
    <label class="index-label" for="user-activity">End Point:
      <select id="end-point" class="form-control" name="user-activity">
          <option value="at&amp;t park">at&amp;t park</option>
      </select>
    </label>
  </div><br>
  <div class="form-group">
    <label class="index-label" for="user-activity">Activity:
      <select id="user-activity" class="form-control" name="user-activity">
          <option value="Dancing">Dancing</option>
          <option value="Eating">Eating</option>
          <option value="Drinking">Drinking</option>
          <option value="Laughing">Laughing</option>
          <option value="Making">Making</option>
      </select>
    </label>
  </div><br>
  <div class="form-group">
    <label class="index-label" for="departure-time">Time of Departure:
      <select id="departure-time" class="form-control" name="departure-time">
          <option value="6:00 pm">6:00 pm</option>
          <option value="7:00 pm">7:00 pm</option>
          <option value="8:00 pm">8:00 pm</option>
          <option value="9:00 pm">9:00 pm</option>
          <option value="10:00 pm">10:00 pm</option>
          <option value="11:00 pm">11:00 pm</option>
          <option value="12:00 am">12:00 am</option>
      </select>
    </label>
  </div><br>
  <input type="submit" id="submit-destination" href="#" value="Let&#39;s GO!" class="btn btn-info">
</form>
<!-- directions will be hidden on page load, will display header and directions on click -->
<hr class="hidden-sm hidden-xs">
  <div class="hidden-xs hidden-sm">
    <h4 id="directions-label" style="text-align:center; font-family: 'Raleway Dots', cursive; font-size:30px; text-transform:uppercase; color:#fff; margin:2% 0 2% 0; display:none;">Directions</h4>
    <div id="directions-panel" style="background-color:rgba(255,255,255,.2); width: 100%;">
    </div>
  </div>

</div>

</div>

<!-- For smaller devices -->
<!--   <div class="visible-md-* visible-lg-* visible-xl-*">
    <h4 id="directions-label" style="text-align:center; font-family: 'Raleway Dots', cursive; font-size:30px; text-transform:uppercase; color:#fff; margin:2% 0 2% 0; display:none;">Directions</h4>
    <div id="directions-panel" style="background-color:rgba(255,255,255,.2); width: 100%;">
    </div>
  </div> -->


<!-- Google Maps JS -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places&key=AIzaSyDsAgJV6GObnh7-vt-hrQBm5beRdowkZxs&callback=initMap" async defer></script>

<script>
"use strict";

  function initMap() {
    // required google maps instantiation f(x)
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers:true});
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: {lat: 37.781602, lng: -122.396885},
      styles: [
                {"featureType": "administrative.locality","elementType": "all","stylers": [{"visibility": "off"}]},
                {"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#a1f199"}]},
                {"featureType":"landscape.natural.landcover","elementType":"geometry.fill","stylers":[{"color":"#37bda2"}]},
                {"featureType":"landscape.natural.terrain","elementType":"geometry.fill","stylers":[{"color":"#37bda2"}]},
                {"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#84b09e"}]},
                {"featureType":"road","elementType":"geometry.stroke","stylers":[{"color":"#fafeb8"},{"weight":"1.25"}]},
                {"featureType":"road.highway","elementType":"labels.icon","stylers":[{"visibility":"off"}]},
                {"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#5ddad6"}]},
                {"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]}
              ]
    });

    // display map
    directionsDisplay.setMap(map);
    directionsDisplay.setPanel(document.getElementById('directions-panel'));

    // declare empty arrays to hold latlng objects that are created
    var waypoints = [];
    var markers = [];

    // on click, get json from server (automatically parsed)
    $('#submit-destination').click( function(evt) {
      evt.preventDefault();

      $('#directions-label').toggle();

      $.get('poke-map.json', function(data) {
        var locObject = data['locations']; // declare location object from data
        var gymObject = data['gyms']; // declare gym object
        var encObject = data['encounters']; // declare encounter object

        $.each(locObject, function(key, value) { 
          var locLat = locObject[key]['latitude'] // get each latitude from obj
          var locLng = locObject[key]['longitude'] // get each longitude from obj
          
          var locName = locObject[key]['name']
          var locRating = locObject[key]['rating']
          var locUrl = locObject[key]['url']
          var locCategory = locObject[key]['category']
          
          // create waypoint for stopover points
          var waypoint = new google.maps.LatLng(locLat, locLng);
          waypoints.push({location:waypoint, stopover:true});

          //create marker for waypoints so they show custom info
          var myPosition = {lat:locLat, lng:locLng};
          var locImage = {url: "https://raw.githubusercontent.com/designsbytraina/pokeseepokedo_0.5/master/assets_icons/pokestop-2.png", 
            scaledSize: new google.maps.Size(50,50)}
          var marker = new google.maps.Marker({position: myPosition, 
                              map: map,
                              icon: locImage, 
                              title: "Location"});

          // content for infoWindow
          var contentString = '<h4 style="text-align:center;">' + locName + '</h4>' + 
          '<h5>Yelp Rating: ' + locRating + '</h5>' + 
          '<h5>Category: ' + locCategory + '</h5>' +
          '<h5>Learn More: ' + locUrl + '</h5>' +
          '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Phasellus vestibulum risus at quam varius dictum.</p>';

          var infoWindow = new google.maps.InfoWindow({
            content: contentString
          });

          // want to use jquery here, just a placeholder
          marker.addListener('click', function() {
            infoWindow.open(map, marker);
          });

          markers.push(marker);
        });

        $.each(gymObject, function(key, value){
          var gymLat = gymObject[key]['latitude'] // get each latitude from obj
          var gymLng = gymObject[key]['longitude'] // get each longitude from obj
          var gymName = gymObject[key]['name']

          var myPosition = {lat:gymLat, lng:gymLng};
          var gymImage = {url:"https://raw.githubusercontent.com/designsbytraina/pokeseepokedo_0.5/master/assets_icons/battle.png", 
            scaledSize: new google.maps.Size(50,50)};
          var marker = new google.maps.Marker({position: myPosition, 
                              map: map,
                              icon: gymImage, 
                              title: "Gym"});

          // content for infoWindow
          var contentString = '<h4 style="text-align:center;">Gym: ' + gymName + '</h4>' + 
          '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Phasellus vestibulum risus at quam varius dictum.</p>';

          var infoWindow = new google.maps.InfoWindow({
            content: contentString
          });

          // want to use jquery here, just a placeholder
          marker.addListener('click', function() {
            infoWindow.open(map, marker);
          });

          markers.push(marker);
        });

        $.each(encObject, function(key, value){
          var encLat = encObject[key]['latitude'] // get each latitude from obj
          var encLng = encObject[key]['longitude'] // get each longitude from obj
          var encPoke = encObject[key]['pokemon_id']
          var pokemon = encObject[key]['name']
          var pokeHeight = encObject[key]['height']
          var pokeWeight = encObject[key]['weight']
          var pokeType = encObject[key]['type']
          var pokeNature = encObject[key]['nature']

          var myPosition = {lat:encLat, lng:encLng};
          var encImage = {url:"https://raw.githubusercontent.com/designsbytraina/pokeseepokedo_0.5/master/assets_icons/pokeball.png",
            scaledSize: new google.maps.Size(35,35)};
          var marker = new google.maps.Marker({position: myPosition, 
                              map: map,
                              icon: encImage, 
                              title: "Encounter"});

          // content for infoWindow
          var contentString = '<div id="poke-info"><h4 style="text-align:center;">Species: <span style="text-transform:capitalize;">' + pokemon + '</span></h4>' + 
          '<img style="margin-left:36px;" src="https://raw.githubusercontent.com/designsbytraina/pokeseepokedo_0.5/master/assets_icons/' + pokemon + '.png" alt=' + pokemon + ' height="65" width="auto">' +
          '<h5 style="text-align:center;">type: ' + pokeType + '</h5>' +
          '<h5 style="text-align:center;">height: ' + pokeHeight + '</h5>' +
          '<h5 style="text-align:center;">weight: ' + pokeWeight + '</h5>' +
          '<h5 style="text-align:center;">nature: ' + pokeNature + '</h5>' +
          '<form method="get" id="catch-poke" action="/catch-pokemon/' + 
          encPoke + '">' + '<input id="add-to-caught" type="image" ' +
          'src="https://raw.githubusercontent.com/designsbytraina/pokeseepokedo_0.5/master/assets_icons/gotcha.png" ' + 
          'alt="add to caught pokemon" height="50" width="auto" style="margin-left:39px;">' + 
          '</form>';

          // create new InfoWindow object for use on marker click
          var infoWindow = new google.maps.InfoWindow({
            content: contentString
          });

          // upon clicking on a given marker, infoWindow will appear showing contentString
          marker.addListener('click', function() {
            infoWindow.open(map, marker);
          });

          markers.push(marker);

        });

        calculateAndDisplayRoute(directionsService, directionsDisplay, waypoints, markers); // add waypoints, markers

      });
    });
  }

  //////////////////////////

  function calculateAndDisplayRoute(directionsService, directionsDisplay, waypoints, markers) {

    directionsService.route({
      origin: new google.maps.LatLng(37.784097,-122.402033),
      destination: new google.maps.LatLng(37.779268,-122.390147),
      waypoints: waypoints,
      optimizeWaypoints: true,
      travelMode: 'WALKING'
    }, function(response, status) {
      if (status === 'OK') {
        directionsDisplay.setDirections(response);
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });

  }

  //////////////////////////



</script>

{% endblock %}


