<!-- index.html

welcome to pokesee, pokedo -->

<!-- on this page, we want to show a form:
- start point
- end point
- time of departure -->

{% extends 'base.html' %}

{% block content %}

    <form id='dest-details' action='/poke-map' method='get'>
        <label for='start-point'>start point:
            <input type='text' name='start-point' value='730 Howard St San Francisco, CA 94103'>
        </label><br>
        <label for='end-point'>end point:
            <input type='text' name='end-point' value='24 Willie Mays Plaza, San Francisco, CA 94107'>
        </label><br>
        <label for='departure'>time of departure:
            <input type='text' name='departure' value='7:00 PM'>
        </label><br>
        <input type='submit' value='take me there' id='submit-destination'>
    </form>

{% endblock %}