<!-- login.html -->

{% extends 'base.html' %}

{% block content %}


    <form action="/login" method="POST" id="login-form">
        <label class="login-field" for="username">
            <input type="text" class="login-field" placeholder="username" name="username">
        </label>
        <label class="login-field" for="login-password">
            <input type="password" class="login-field" placeholder="password" name="login-password">
        </label>
        <label for="submit-login">
            <input type="submit" value="login" class="submit-btn" name="submit-register">
        </label>
    </form>


{% endblock %}