<!-- login.html -->

{% extends 'base.html' %}

{% block content %}

<style type="text/css"> body {background-color:#1caff6;} </style>

    <form action="/login" method="POST" id="login-form" style="background-color:rgba(255,255,255,.9);">
        <label class="login-field" for="username">
            <input type="text" class="login-field" placeholder="username" name="username" value="designsbytraina">
        </label>
        <label class="login-field" for="login-password">
            <input type="password" class="login-field" placeholder="password" name="login-password" value="secret">
        </label>
        <label for="submit-login">
            <input type="submit" value="login" class="submit-btn" name="submit-register">
        </label>
    </form>


{% endblock %}