<!-- registration_form.html

on this page, user can register to save maps to account -->

{% extends 'base.html' %}

{% block content %}

    <form id='registration' action='/register' method='post'>
        <label for='email'>email address:
            <input type='text' name='email' value='rachel@rtg.com'>
        </label>
        <label for='username'>desired username:
            <input type='text' name='username' value='designsbytraina'>
        </label>
        <label for='new-password'>new password:
            <input type='password' name='new-password' value='secret'>
        </label>
        <label for='first-name'>first name:
            <input type='text' name='first-name' value='Rachel'>
        </label>
        <label for='last-name'>last name:
            <input type='text' name='last-name' value='Traina-Grandon'>
        </label>
        <label for="submit-register">
            <input type="submit" value="register" class="submit-btn" name="submit-register">
        </label>
    </form>

{% endblock %}