<!-- user_profile.html

this page will be the profile page for users

it will display the date/time when registered,
the amount of pokemon caught to-date,
and the user's information 

Add context here later
-->

{% extends 'base.html' %}

{% block content %}

<style type="text/css"> body {background-color:#f4ed38;} </style>

    <div style="background-color:rgba(255,255,255,.9);">
        <h3>Username: {{ username }}</h3>
        <h4>Name: {{ first_name }} {{ last_name }}</h4>
        <h4>Date Joined: {{ user_since }}</h4>
        <h4><a href="/caught">Pokemon Caught To-Date</a></h4>
    </div>

{% endblock %}